:root {
  --font-family: -apple-system, Helvetica, Arial, sans-serif;
  --font-size: 14px;
  --line-height: 1.5;
  --border-radius: 4px;
  --input-height: 35px;
  --text-color: #333;
  --background-color: #f4f5f6;
  --primary-color: #1f6dff;
  --border-color: #e0e0e6;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font: var(--font-size) / var(--line-height) var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

#app {
  min-height: 100vh;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

button,
input {
  appearance: none;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--text-color);
  font: inherit;
  height: var(--input-height);
  padding: 0 10px;
  transition: all 0.25s ease;
}

button {
  cursor: pointer;
  color: var(--text-color);
}

button:hover {
  --border-color: var(--primary-color);
  --text-color: var(--primary-color);
}

input:focus {
  outline: 0 none;
}
